@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.header {
  background-color: #f55a5a;

  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header--logo {
  height: 24px;
  width: 24px;
}

.header--title {
  font-size: 15px;
  color: white;
}

.container {
  padding: 25px;
}

.experiences {
  max-width: 1024px;
  margin: 0 auto;
}

.experience {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.experience--text {
  max-width: 800px;
}

.experience--img {
  height: 168px;
  width: 125px;
}

.experience--img > img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.experience--location-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.experience--location-info > img {
  height: 100%;
}

.experience--country {
  font-size: 10px;
  text-transform: uppercase;
}

.experience--maps {
  font-size: 10px;
  color: #918e9b;
}

.experience--title {
  font-size: 25px;
  margin-bottom: 10px;
}

.experience--dates {
  font-size: 11px;
  margin-bottom: 5px;
}

.experience--description {
  font-size: 10px;
}

.mode-btn {
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.darkMode {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}
